* {
    box-sizing: border-box;
    
}

body {
    font-family: "Karla", sans-serif;
    margin: 0;
}

/* Header */

.header {
    background-color: #672280;
    display: flex;
    justify-content: space-between;
}

.header-h {
    font-size: 10px;
    margin: 10px;
    color: white;
}

/* Form */

form {
    
}

input {
    width: 100px;
    margin: 40px 20px 30px 55px;
}

button {
    display: block;
    margin: auto;
    width: 300px;
}